# ================= Python =================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================= Virtual Environment =================
venv/
.env/
.venv/

# ================= OS =================
.DS_Store
Thumbs.db

# ================= IDE =================
.vscode/
.idea/

# ================= Logs =================
*.log

# ================= Data / Cache =================
*.pkl
*.h5
*.onnx

# ================= SQLite =================
*.db
*.sqlite
*.sqlite3

# ================= Streamlit =================
.streamlit/

# ================= Media =================
*.jpg
*.jpeg
*.png
*.mp4

# ================= CSV (Optional) =================
attendance.csv
